h1 {
    font-family: Comic Sans, helvetica, sans-serif;
 }
 

body {
    background-color: lightblue;
}



header, footer {
    background-color: indianred;
    color: white;
}

.border {
    border: thick solid blue;
}

#experience {
    border: thick dashed orange;
}

a {
  font-family: monospace;
  text-decoration: none;
  font-weight: none;
}

a:link {
  color: green;
  text-decoration;
}

a:visited {
  color: red;
  text-decoration;
}

a:hover {
  text-decoration: none;
  color: #00c;
  font-family: cursive;
}

a:active {
  font-weight: bold;
  text-decoration;
}
<div class="row">
    <div class="col-lg-3">
    </div>
    
    <div class="col-lg-9">
    </div>
</div>